@page
@model DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

@* <h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ExpenseTrackerClass</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseComment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseComment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div> *@


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
