@page
@model EditModel

@using LittleBitHelperExpenseTracker.Models;

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div class="text-center" style="margin: 20px; display: flex; justify-content: center;">
    <form asp-page="Edit" method="post">
        <table class="table" style="max-inline-size: 800px;">
            <tr>

                <th>Expense type</th>
                <th>Expense amount</th>
                <th>Expense comment</th>
                <th>Date Time</th>
                <th>Currency</th>
                <th>Submit</th>
                <th>Cancel</th>
            </tr>

            @{
                int counter = 0;
                foreach (var s in EditModel.UsersList.NList)
                {
                    if (s.ExpenseType is null)
                    {
                        throw new ArgumentException(nameof(s));
                    }
                    counter++;
                    <tr>
                        <td>
                            <input placeholder="@s.ExpenseType.ToString()" name="expenseType" type="text">
                        </td>
                        <td>
                            <input placeholder="@s.ExpenseAmount.ToString()" name="expenseAmount" type="text">
                        </td>
                        <td>
                            <input placeholder="@s.ExpenseComment" name="expenseComment" type="text">
                        </td>
                        <td>
                            <label>@s.DateTime</label>
                            <input placeholder="@s.DateTime" name="dateTime" type="datetime-local">
                        </td>
                        <td>
                            <select id="currency" name="currency" style="display: block; padding: 12px 20px; margin: 8px 0" placeholder=" Currency...">
                                <option value="@s.Currency">@s.Currency</option>
                                <option value="@PreferencesModel.DefaultCurrency">@PreferencesModel.DefaultCurrency</option>
                                @foreach (var item in JsonOperations.PersonPersistent.Rates.Keys)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </td>

                        <td>
                            <input type="submit" name="toUpdate" value="true">
                        </td>

                        <td>

                            <input type="submit" name="toCancel" value="true">
                        </td>
                    </tr>
                }
            }

        </table>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
