@page
@model EditModel

@using LittleBitHelperExpenseTracker.Models;

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form asp-page="Edit" method="post">
    <table class="table" id="myTable">
        <tr class="table_header">
            <th>Expense type</th>
            <th>Expense amount</th>
            <th>Expense comment</th>
            <th>Date Time</th>
            <th>Currency</th>
            <th>Submit</th>
            <th>Cancel</th>
        </tr>

        @{
            int counter = 0;
            foreach (var s in EditModel.UsersList.NList)
            {
                if (s.ExpenseType is null)
                {
                    throw new ArgumentException(nameof(s));
                }
                counter++;
                <tr class="table_row">
                    <td>
                        <input placeholder="@s.ExpenseType.ToString()" name="expenseType" type="text" class="input" id="new_type" value="@s.ExpenseType">
                    </td>
                    <td>
                        <input placeholder="@s.ExpenseAmount.ToString()" name="expenseAmount" class="input" type="number" id="new_amount" value="@s.ExpenseAmount">
                    </td>
                    <td>
                        <input placeholder="@s.ExpenseComment" name="expenseComment" type="text" class="input" id="new_comment" value="@s.ExpenseComment">
                    </td>
                    <td class="cell_aligned_vertical">
                        <input value="@s.DateTime" name="dateTime" type="datetime-local">
                    </td>
                    <td>
                        <select id="new_currency" name="new_currency" class="dropdown">
                            <option value="@s.Currency">@s.Currency</option>
                            <option value="@PreferencesModel.DefaultCurrency">@PreferencesModel.DefaultCurrency</option>
                            @foreach (var item in JsonOperations.ExchangeRatePersistent.Rates.Keys)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </td>
                    <td>
                        <button class="button" id="submit_changes" name="toUpdate" type="submit" value="Edit">
                            Submit
                        </button>
                    </td>
                    <td>
                        <button class="button" id="submit_changes" name="toCancel" type="submit" value="Cancel">
                            Cancel
                        </button>
                    </td>
                </tr>
            }
        }

    </table>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
