@page
@model PreferencesModel

@using LittleBitHelperExpenseTracker.Models;

@{
    ViewData["Title"] = "Preferences";
}

<h4 style="margin: 20px; display: flex; justify-content: center">Preferences</h4>


<p>Base currency for all calculations is @JsonOperations.ExchangeRatePersistent.Base</p>
<p>Your default currency: <span class="imported_value">@PreferencesModel.DefaultCurrency</span></p>
<p>1 USD = <span class="imported_value">@JsonOperations.ExchangeRatePersistent.Rates[PreferencesModel.DefaultCurrency] @PreferencesModel.DefaultCurrency</span></p>
<p>Rate: <span class="imported_value">@JsonOperations.ExchangeRatePersistent.Rates[PreferencesModel.DefaultCurrency]</span></p>


<div>
    <form method="post">
        <div>
            <label for="currency" class="regular">Change currency to:</label>
            <select id="currency" name="currency" class="dropdown">
                <option value="@PreferencesModel.DefaultCurrency">@PreferencesModel.DefaultCurrency</option>
                @foreach (var item in JsonOperations.ExchangeRatePersistent.Rates.Keys)
                {
                    <option value="@item">@item</option>
                }
            </select>
        </div>
        <br>
        <button class="button" type="submit">Submit</button>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
