@page
@model PreferencesModel

@using LittleBitHelperExpenseTracker.Models;

@{
    ViewData["Title"] = "Preferences";
}

<h4 style="margin: 20px; display: flex; justify-content: center">Preferences</h4>
<div style="margin: 20px; display: flex; justify-content: center">
</div>

    <p>Base currency for all calculations is @JsonOperations.PersonPersistent.Base</p>
    <p>Your default currency: <span class="imported_value">THB</span></p>
<p>1 USD = <span class="imported_value">@JsonOperations.PersonPersistent.Rates["THB"]</span></p>
<p>Rate: <span class="imported_value">@JsonOperations.PersonPersistent.Rates["THB"]</span></p>

    <form method="post">
        <select id="currency" name="currency" style="display: block; padding: 12px 20px; margin: 8px 0" placeholder=" Currency...">
            
            @foreach(var item in JsonOperations.PersonPersistent.Rates.Keys)
            {
                <text>
                <option value="@item">@item</option>
                </text>
            }

        </select>

        <input type="submit" style="display: block; padding: 12px 20px; margin: 8px 0">
    </form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
