@page
@model PreferencesModel

@using LittleBitHelperExpenseTracker.Models;

@{
    ViewData["Title"] = "Preferences";
}

<h4 style="margin: 20px; display: flex; justify-content: center">Preferences</h4>
<div style="margin-left: auto; margin-right: auto; display: block; width: 25%; text-align: center">
    <p>Base currency for all calculations is @JsonOperations.PersonPersistent.Base</p>
    <p>Your default currency: <span class="imported_value">@PreferencesModel.DefaultCurrency</span></p>
    <p>1 USD = <span class="imported_value">@JsonOperations.PersonPersistent.Rates[PreferencesModel.DefaultCurrency] @PreferencesModel.DefaultCurrency</span></p>
    <p>Rate: <span class="imported_value">@JsonOperations.PersonPersistent.Rates[PreferencesModel.DefaultCurrency]</span></p>
    <form method="post" style="margin-left: auto; margin-right: auto; display: block; width: 25%;">
        <select id="currency" name="currency" style="display: block; padding: 12px 20px; margin: 8px 0" placeholder=" Currency...">
            <option value="@PreferencesModel.DefaultCurrency">@PreferencesModel.DefaultCurrency</option>
            @foreach (var item in JsonOperations.PersonPersistent.Rates.Keys)
            {
                <option value="@item">@item</option>
            }
        </select>
        <input type="submit" style="display: block; padding: 12px 20px; margin: 8px 0">
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
